Repository cerner/terra-toolkit, pull requests merged in 2018-12, with the labels that each got.

#213 Upgrade webpack-cli and unlock webpack version
  CHANGELOG.md
  CONTRIBUTORS.md
  package-lock.json
  package.json
Labels: dependency-update

#205 Look for all translations in all the places
  CHANGELOG.md
  CONTRIBUTORS.md
  docs/AggregateTranslations.md
  scripts/aggregate-translations/aggregate-translations-cli.js
  scripts/aggregate-translations/aggregate-translations.js
  tests/jest/aggregate-translations.test.js
Labels: aggregate-translations, enhancement

#217 Add local and network address display to tt-serve
  CHANGELOG.md
  package.json
  scripts/serve/serve.js
Labels: enhancement, serve

#215 Fix Translations & Update Package Lock
  CHANGELOG.md
  package-lock.json
  scripts/aggregate-translations/aggregate-messages.js
  scripts/aggregate-translations/aggregate-translations.js
  scripts/aggregate-translations/defaultSearchPatterns.js
  tests/jest/aggregate-translations.test.js
Labels: aggregate-translations, bug

#220 Fix AggregateTranslations doc link to default search patterns
  docs/AggregateTranslations.md
Labels: docs
