Repository cerner/terra-toolkit, pull requests merged in 2018-11, with the labels that each got.

#188 Fix Serve CLI Port Arg
  CHANGELOG.md
  scripts/serve/serve-cli.js
Labels: bug, serve

#196 Be semantically Correct According to Commander Docs
  scripts/aggregate-translations/aggregate-translations-cli.js
  scripts/serve/serve-cli.js
  scripts/serve/serve-static-cli.js
  scripts/wdio/clean-screenshots-cli.js
  scripts/wdio/wdio-runner-cli.js
Labels: docs

#195 Add Site Wdio Configuration Key
  .eslintignore
  CHANGELOG.md
  docs/ServeStaticService.md
  package-lock.json
  package.json
  scripts/serve/serve-static.js
  scripts/serve/serve.js
  scripts/wdio/README.md
  scripts/wdio/clean-screenshots.js
  src/wdio/services/ServeStaticService.js
  tests/test.config.js
  wdio.conf.js
Labels: serve-static

#198 Added a tt-pack script to pack packages into a tar archive file
  CHANGELOG.md
  CONTRIBUTORS.md
  bin/pack.js
  package-lock.json
  package.json
  scripts/pack/README.md
  scripts/pack/pack.js
Labels: tt-pack

#202 Fix Default Port Value
  CHANGELOG.md
  package-lock.json
  scripts/serve/serve-cli.js
  scripts/serve/serve-static-cli.js
Labels: bug, serve, serve-static

#209 Added - Configuration option to disable theme functions in wdio tests
  CHANGELOG.md
  docs/Wdio_Utility.md
  src/wdio/services/TerraCommands/visual-regression.js
Labels: enhancement, tech-only, terra-service

#212 Aggregate-Translations Output Is Compiled
  CHANGELOG.md
  package-lock.json
  scripts/aggregate-translations/generate-translation-file.js
  scripts/aggregate-translations/write-i18n-loaders.js
  tests/jest/__snapshots__/generate-translation-file.test.js.snap
  tests/jest/__snapshots__/write-i18n-loaders.test.js.snap
  tests/jest/aggregate-messages.test.js
  tests/jest/fixtures/ned_modules/fixtures1/translations/en-US.json
  tests/jest/fixtures/translations/en-US.json
  tests/jest/generate-translation-file.test.js
  tests/jest/write-aggregated-translations.test.js
  tests/jest/write-i18n-loaders.test.js
Labels: aggregate-translations, bug
