Repository cerner/terra-toolkit, pull requests merged in 2018-07, with the labels that each got.

#127 Fix Serve Static
  CHANGELOG.md
  package-lock.json
  scripts/serve/serve-static.js
Labels: bug, serve-static

#128 Fix issue with containerized runs with port mapping
  config/wdio/wdio.conf.js
  docs/Wdio_Utility.md
Labels: bug, serve-static, webdriver.io

#131 Add missing import
  docs/Webpack.md
Labels: docs

#132 Update Webpack.md
  docs/Webpack.md
Labels: docs

#133 Default host to '0.0.0.0' for docker development
  CHANGELOG.md
  scripts/serve/README.md
  scripts/serve/serve-cli.js
  scripts/serve/serve-static-cli.js
Labels: Small, serve, serve-static

#136 Update serve-cli.js serve-static-cli.js to not use the port environment variable
  CHANGELOG.md
  scripts/serve/serve-cli.js
  scripts/serve/serve-static-cli.js
Labels: serve, serve-static

#134 Add sv and sv-SE locales to support translations list
  CHANGELOG.md
  scripts/aggregate-translations/i18nSupportedLocales.js
Labels: Small, aggregate-translations, tech-only

#143 Remove node modules from basedir
  CHANGELOG.md
  config/wdio/visualRegressionConf.js
Labels: bug, configuration

#139 Working screenshots CLI
  CHANGELOG.md
  scripts/wdio/clean-screenshots-cli.js
Labels: bug, clean-screenshots

#141 Only Hash Css Assets in Production
  CHANGELOG.md
  config/webpack/webpack.config.js
  package-lock.json
  tests/wdio/__snapshots__/reference/en/chrome_huge/i18n-spec/I18n_Locale[default].png
  tests/wdio/__snapshots__/reference/en/chrome_tiny/i18n-spec/I18n_Locale[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_huge/i18n-spec/I18n_Locale[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_tiny/i18n-spec/I18n_Locale[default].png
  tests/wdio/i18n-spec.js
Labels: configuration
