Repository cerner/terra-toolkit, pull requests merged in 2018-03, with the labels that each got.

#67 Add deprecation warning to nightwatch
  CHANGELOG.md
  README.md
  src/nightwatch/nightwatch.config.js
Labels: Small, nightwatch, tech-only

#68 Add a new Express Dev server service.
  .travis.yml
  CHANGELOG.md
  docs/ExpressDevServerService.md
  docs/Wdio_Utility.md
  docs/WebpackDevServerService.md
  package-lock.json
  package.json
  src/nightwatch/nightwatch.config.js
  src/wdio/services/ExpressDevServerService.js
  src/wdio/services/WebpackDevServerService.js
  src/wdio/services/index.js
  wdio.conf.js
Labels: Large, enhancement, webdriver.io

#72 Prepare for web pack 4
  CHANGELOG.md
  package-lock.json
  package.json
  src/nightwatch/nightwatch.config.js
  src/wdio/services/ExpressDevServerService.js
  tests/fixtures/index.js
  tests/test.config.js
Labels: Small, nightwatch
