Repository cerner/terra-toolkit, pull requests merged in 2018-10, with the labels that each got.

#177 Fix server file path extension
  scripts/serve/serve-static.js
Labels: bug, serve-static

#182 Upgrade(?) to webpack-dev-server from webpack-serve
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/serve/README.md
  scripts/serve/serve-cli.js
  scripts/serve/serve.js
Labels: serve

#187 Update Serve Docs
  README.md
Labels: docs

#183 Pause for Selenium IE Browsers
  CHANGELOG.md
  src/wdio/services/TerraService.js
Labels: terra-service

#192 Add Webpack Mode in Serve-Static Logs
  CHANGELOG.md
  package.json
  scripts/serve/serve-static.js
Labels: serve-static
