Repository cerner/terra-toolkit, pull requests merged in 2019-05, with the labels that each got.

#276 Issue 274 make themed default test name
  CHANGELOG.md
  CONTRIBUTORS.md
  docs/Wdio_Utility.md
  package.json
  src/wdio/services/TerraCommands/visual-regression.js
  tests/wdio/theme-spec.js
Labels: enhancement, tech-only, visual-regression

#275 Verify terra-aggregate-translations module
  CHANGELOG.md
  README.md
  bin/aggregate-translations.js
  config/webpack/webpack.config.js
  docs/AggregateTranslations.md
  docs/Webpack.md
  jestConfig.js
  package-lock.json
  package.json
  scripts/aggregate-translations/aggregate-messages.js
  scripts/aggregate-translations/aggregate-translations-cli.js
  scripts/aggregate-translations/aggregate-translations.js
  scripts/aggregate-translations/defaultSearchPatterns.js
  scripts/aggregate-translations/generate-translation-file.js
  scripts/aggregate-translations/write-aggregated-translations.js
  scripts/aggregate-translations/write-i18n-loaders.js
  tests/jest/__snapshots__/generate-translation-file.test.js.snap
  tests/jest/__snapshots__/write-i18n-loaders.test.js.snap
  tests/jest/aggregate-messages.test.js
  tests/jest/aggregate-themes.test.js
  tests/jest/aggregate-translations.test.js
  tests/jest/generate-translation-file.test.js
  tests/jest/webpack.config.test.js
  tests/jest/write-aggregated-translations.test.js
  tests/jest/write-i18n-loaders.test.js
Labels: aggregate-translations

#281 Guard against empty screenshots in `getComparisonResults`
  .babelrc
  CHANGELOG.md
  src/wdio/services/TerraCommands/chai-methods.js
  tests/jest/chai-methods.test.js
Labels: tech-only

#280 Script / Dev Dependency Clean Up
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/release/README.md
  scripts/release/release.js
Labels: build-tools

#272 [v5] Remove nightwatch!
  .npmignore
  .travis.yml
  CHANGELOG.md
  docs/Nightwatch_Utility.md
  docs/TerraToolkitUpgradeGuide-v5.0.0.md
  nightwatch.conf.js
  package-lock.json
  package.json
  src/nightwatch/nightwatch.config.js
  src/nightwatch/responsive-helpers.js
  src/nightwatch/setup-helper.js
  tests/fixtures/nightwatch.html
  tests/nightwatch/MoreTests/nested-test-suite-spec.js
  tests/nightwatch/responsive-test-suite-spec.js
  tests/nightwatch/static-suite-spec.js
  tests/test.config.js
  tests/test.nightwatch.conf.js
Labels: Major Version Bump, nightwatch

#283 [V5] Remove Aggregate Translations Script & Locale Config
  CHANGELOG.md
  README.md
  docs/TerraToolkitUpgradeGuide-v5.0.0.md
  scripts/aggregate-translations/aggregate-translations.js
  scripts/aggregate-translations/i18nSupportedLocales.js
  tests/jest/fixtures/ned_modules/fixtures1/translations/en-US.json
  tests/jest/fixtures/ned_modules/fixtures1/translations/en.json
  tests/jest/fixtures/ned_modules/fixtures1/translations/es.json
  tests/jest/fixtures/translations/en-US.json
  tests/jest/fixtures/translations/en.json
  tests/jest/fixtures/translations/es.json
Labels: Major Version Bump, aggregate-translations

#268 [V5] Serve updates
  CHANGELOG.md
  bin/heroku-serve-static.js
  bin/serve-static.js
  bin/serve.js
  config/webpack/webpack.config.js
  docs/ServeStaticService.md
  docs/TerraToolkitUpgradeGuide-v5.0.0.md
  package-lock.json
  package.json
  scripts/serve/README.md
  scripts/serve/loadWebpackConfig.js
  scripts/serve/serve-cli.js
  scripts/serve/serve-static-cli.js
  scripts/serve/serve-static.js
  scripts/serve/serve.js
  src/wdio/services/ServeStaticService.js
  tests/fixtures/404.html
  tests/fixtures/accessible.html
  tests/fixtures/compare.html
  tests/fixtures/i18n.html
  tests/fixtures/inaccessible-contrast.html
  tests/fixtures/inaccessible-text.html
  tests/fixtures/theme.html
  tests/jest/aggregate-themes.test.js
  tests/jest/webpack.config.test.js
  tests/test.config.func.js
  tests/test.config.js
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_htm[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_html[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_js[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_nexted_route[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_with_dash[default].png
  tests/wdio/serveStatic-spec.js
  wdio.conf.js
Labels: Major Version Bump, serve, serve-static

#279 [v5] Fix Form Factor Size and Naming Issues
  CHANGELOG.md
  config/docker/ci-docker-compose.yml
  config/docker/local-docker-compose.yml
  config/wdio/visualRegressionConf.js
  config/wdio/wdio.conf.js
  docs/TerraToolkitUpgradeGuide-v5.0.0.md
Labels: Major Version Bump, configuration, visual-regression

#285 [V5] Remove Axe Service
  CHANGELOG.md
  config/wdio/services.default-config.js
  config/wdio/wdio.conf.js
  docs/AxeService.md
  docs/TerraToolkitUpgradeGuide-v5.0.0.md
  docs/Wdio_Utility.md
  package-lock.json
  package.json
  src/wdio/services/AxeService.js
  src/wdio/services/TerraCommands/accessiblity.js
  src/wdio/services/TerraCommands/axe-command.js
  src/wdio/services/TerraService.js
  src/wdio/services/index.js
  tests/fixtures/inaccessible-contrast.html
  tests/wdio/__snapshots__/reference/en/chrome_tiny/validateElement-spec/inaccessible_contrast[default].png
  tests/wdio/axe-spec.js
  tests/wdio/beAccessible-spec.js
  tests/wdio/resize-spec.js
  tests/wdio/validateElement-spec.js
Labels: Major Version Bump, axe-service, configuration, terra-service

#282 [V5] MVB Dependencies & Dev Dependencies
  .babelrc
  CHANGELOG.md
  README.md
  babel.config.js
  config/webpack/webpack.config.js
  docs/TerraToolkitUpgradeGuide-v5.0.0.md
  docs/Webpack.md
  jestConfig.js
  package-lock.json
  package.json
  tests/jest/webpack.config.test.js
Labels: Major Version Bump, configuration, dependency-update, webpack

#284 [V5] Clean Up Wdio Helpers
  .eslintignore
  CHANGELOG.md
  docs/TerraToolkitUpgradeGuide-v5.0.0.md
  docs/Wdio_Utility.md
  src/wdio/services/TerraCommands/accessiblity.js
  src/wdio/services/TerraCommands/chai-methods.js
  src/wdio/services/TerraCommands/determine-test-options.js
  src/wdio/services/TerraCommands/validate-element.js
  src/wdio/services/TerraCommands/visual-regression.js
  src/wdio/services/TerraService.js
  tests/jest/determine-test-options.test.js
  tests/jest/validateElement.test.js
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_htm[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_html[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_js[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_nexted_route[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/serveStatic-spec/404_fallback_with_dash[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/theme-spec/themeCombinationOfCustomProperties[before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/theme-spec/themeCombinationOfCustomProperties[verify-styles_were_removed].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/theme-spec/themeEachCustomProperty[before].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/theme-spec/themeEachCustomProperty[verify-styles_were_removed].png
  tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-spec/themeCombinationOfCustomProperties[before].png
  tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-spec/themeCombinationOfCustomProperties[verify-styles_were_removed].png
  tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-spec/themeEachCustomProperty[before].png
  tests/wdio/__snapshots__/reference/en/chrome_tiny/theme-spec/themeEachCustomProperty[verify-styles_were_removed].png
  tests/wdio/__snapshots__/reference/fr/chrome_huge/theme-spec/themeCombinationOfCustomProperties[before].png
  tests/wdio/__snapshots__/reference/fr/chrome_huge/theme-spec/themeCombinationOfCustomProperties[verify-styles_were_removed].png
  tests/wdio/__snapshots__/reference/fr/chrome_huge/theme-spec/themeEachCustomProperty[before].png
  tests/wdio/__snapshots__/reference/fr/chrome_huge/theme-spec/themeEachCustomProperty[verify-styles_were_removed].png
  tests/wdio/__snapshots__/reference/fr/chrome_tiny/theme-spec/themeCombinationOfCustomProperties[before].png
  tests/wdio/__snapshots__/reference/fr/chrome_tiny/theme-spec/themeCombinationOfCustomProperties[verify-styles_were_removed].png
  tests/wdio/__snapshots__/reference/fr/chrome_tiny/theme-spec/themeEachCustomProperty[before].png
  tests/wdio/__snapshots__/reference/fr/chrome_tiny/theme-spec/themeEachCustomProperty[verify-styles_were_removed].png
  tests/wdio/matchScreenshot-spec.js
  tests/wdio/theme-spec.js
Labels: Major Version Bump, terra-service

#288 Webpack Doesn't Aggregate Locales with Toolkit's Locales
  CHANGELOG.md
  config/webpack/webpack.config.js
  package-lock.json
  scripts/aggregate-translations/aggregate-translations.js
  tests/jest/webpack.config.test.js
Labels: aggregate-translations, bug

#292 Add New V5 Terra helpers to V4
  CHANGELOG.md
  config/wdio/visualRegressionConf.js
  config/webpack/webpack.config.js
  package-lock.json
  package.json
  scripts/aggregate-translations/aggregate-translations.js
  src/wdio/services/TerraCommands/accessiblity.js
  src/wdio/services/TerraCommands/chai-methods.js
  src/wdio/services/TerraCommands/validate-element.js
  src/wdio/services/TerraCommands/viewport-helpers.js
  src/wdio/services/TerraCommands/visual-regression.js
  src/wdio/services/TerraService.js
  tests/fixtures/inaccessible-contrast.html
  tests/jest/validateElement.test.js
  tests/jest/webpack.config.test.js
  tests/wdio/__snapshots__/reference/en/chrome_huge/validateElement-spec/full_implementation[default].png
  tests/wdio/__snapshots__/reference/en/chrome_huge/validateElement-spec/inaccessible_contrast[default].png
  tests/wdio/__snapshots__/reference/en/chrome_small/validateElement-spec/full_implementation[default].png
  tests/wdio/__snapshots__/reference/en/chrome_small/validateElement-spec/inaccessible_contrast[default].png
  tests/wdio/__snapshots__/reference/en/chrome_tiny/validateElement-spec/inaccessible_contrast[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_huge/validateElement-spec/full_implementation[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_huge/validateElement-spec/inaccessible_contrast[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_small/validateElement-spec/full_implementation[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_small/validateElement-spec/inaccessible_contrast[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_tiny/validateElement-spec/full_implementation[default].png
  tests/wdio/__snapshots__/reference/fr/chrome_tiny/validateElement-spec/inaccessible_contrast[default].png
  tests/wdio/beAccessible-spec.js
  tests/wdio/matchScreenshot-spec.js
  tests/wdio/resize-spec.js
  tests/wdio/validateElement-spec.js
  wdio.conf.js
Labels: enhancement, terra-service
