Repository cerner/terra-toolkit, pull requests merged in 2019-06, with the labels that each got.

#294 Add Docs to Replace Repo Wikis
  docs/guides/NightwatchToWdioMigrationGuide.md
  docs/guides/UpgradeGuide-v2.0.0.md
Labels: docs

#293 Update danger Version
  CHANGELOG.md
  dangerfile.js
  package-lock.json
  package.json
Labels: dependency-update

#297 Update Dependencies
  CHANGELOG.md
  CONTRIBUTORS.md
  config/webpack/webpack.config.js
  package-lock.json
  package.json
  tests/jest/webpack.config.test.js
Labels: dependency-update

#298 Add Firefox and IE Capabilities
  CHANGELOG.md
  config/configUtils.js
  config/docker/local-docker-compose.yml
  config/wdio/selenium.config.js
  config/wdio/wdio.conf.js
  docker-compose.yml
  jestConfig.js
  package.json
  scripts/serve/serve-static.js
  scripts/wdio/README.md
  scripts/wdio/getWdioConfigPath.js
  scripts/wdio/wdio-runner-cli.js
  scripts/wdio/wdio-runner.js
  src/wdio/services/SeleniumDockerService.js
  tests/jest/config/configUtils.test.js
  tests/jest/config/wdio/selenium.config.test.js
  tests/jest/config/webpack/webpack.config.test.js
  wdio.conf.js
Labels: configuration, enhancement, tt-wdio

#303 Add wcag2a and wcag21aa rules to axe-core check
  CHANGELOG.md
  src/wdio/services/TerraCommands/axe-command.js
Labels: accessibility, bug-fix

#305 Remove shelljs dependency
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/pack/pack.js
Labels: dependency-update, tt-pack

#304 V5 Upgrade Guide
  CHANGELOG.md
  docs/FAQ.md
  docs/Webpack.md
  docs/guides/UpgardeGuide-v5/Changes.md
  docs/guides/UpgardeGuide-v5/UpgradePart1.md
  docs/guides/UpgardeGuide-v5/UpgradePart2.md
Labels: docs
