Repository cerner/terra-toolkit, pull requests merged in 2019-12, with the labels that each got.

#358 Revert terra-i18n from the Duplicate Checker List
  CHANGELOG.md
  config/webpack/webpack.config.js
  package-lock.json
  scripts/wdio/clean-screenshots-cli.js
  tests/jest/aggregate-themes.test.js
  tests/jest/config/wdio/selenium.config.test.js
Labels: configuration, webpack

#361 Add new docker containers
  .travis.yml
  CHANGELOG.md
  config/wdio/wdio.conf.js
  docker/terra-node-base/Dockerfile
  docker/terra-node-ci/Dockerfile
  docker/terra-node-dev/Dockerfile
Labels: docker

#364 Enable onBeforeUnload in firefox
  CHANGELOG.md
  config/wdio/selenium.config.js
  package-lock.json
Labels: configuration, wdio

#366 Update Firefox version
  CHANGELOG.md
  config/docker/local-docker-compose.yml
  package-lock.json
Labels: configuration

#362 Use new docker containers.
  .travis.yml
  CHANGELOG.md
  Dockerfile
  docker-compose.yml
Labels: docker

#363 Fixed unopinionated tests to run on default viewport
  CHANGELOG.md
  package.json
  src/wdio/services/TerraCommands/viewport-helpers.js
  tests/wdio/defaultViewports-spec.js
  wdio.conf.js
Labels: bug-fix, terra-service, wdio

#367 Theme-aggregator prefix added
  CHANGELOG.md
  CONTRIBUTORS.md
  scripts/aggregate-themes/theme-aggregator.js
Labels: aggregate-translations

#369 Bump axe-core to 3.4.0 and disable new axe rules
  CHANGELOG.md
  package-lock.json
  package.json
  src/wdio/services/TerraCommands/chai-methods.js
Labels: axe-service, dependency-update

#356 Fixed custom global axe rules specified in wdio config to be applied/implemented
  CHANGELOG.md
  docs/Wdio_Utility.md
  package-lock.json
  src/wdio/services/TerraCommands/axe-command.js
  tests/fixtures/inaccessible-text.html
  tests/jest/determine-test-options.test.js
  tests/wdio/axe-spec.js
  tests/wdio/beAccessible-spec.js
Labels: accessibility, axe-service

#371 downgrade axe version
  CHANGELOG.md
  package-lock.json
  package.json
Labels: accessibility, dependency-update
