Repository cerner/terra-toolkit, pull requests merged in 2019-02, with the labels that each got.

#247 Update wdio urls to point to v4 docs
  README.md
  docs/Wdio_Utility.md
Labels: docs

#241 Add Logger for Formatted / Colored Console Output
  CHANGELOG.md
  scripts/aggregate-translations/aggregate-messages.js
  scripts/aggregate-translations/aggregate-translations.js
  scripts/aggregate-translations/write-aggregated-translations.js
  scripts/aggregate-translations/write-i18n-loaders.js
  scripts/pack/pack.js
  scripts/serve/serve-static-cli.js
  scripts/serve/serve-static.js
  scripts/serve/serve.js
  scripts/utils/logger.js
  scripts/wdio/clean-screenshots.js
  scripts/wdio/wdio-runner.js
  src/wdio/services/SeleniumDockerService.js
  src/wdio/services/ServeStaticService.js
  src/wdio/services/TerraCommands/visual-regression.js
  src/wdio/services/TerraService.js
Labels: enhancement

#250 Add en-AU to supported translations list
  CHANGELOG.md
  scripts/aggregate-translations/i18nSupportedLocales.js
Labels: aggregate-translations
