Repository cerner/terra-toolkit, pull requests merged in 2020-12, with the labels that each got.

#464 [terra-functional-testing] Validates Element
  packages/terra-functional-testing/src/commands/validates/element.js
  packages/terra-functional-testing/src/commands/validates/index.js
  packages/terra-functional-testing/src/commands/viewport-helpers.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services/TerraService.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
  packages/terra-functional-testing/tests/jest/commands/validates/element.test.js
  packages/terra-functional-testing/tests/jest/commands/validates/index.test.js
  packages/terra-functional-testing/tests/jest/commands/viewport-helpers.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service.test.js
  packages/terra-functional-testing/tests/wdio/terra-validates-spec.js
  packages/terra-functional-testing/tests/wdio/viewport-helpers-spec.js
Labels: :package: terra-functional-testing

#494 [terra-cli] Add orion-full-stack-testing to allow list
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/index.js
Labels: :package: terra-cli

#492 [webpack-config-terra] Upgrade to postcss 8 and support webpack 5
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/lib/postcss/ThemePlugin.js
  packages/webpack-config-terra/package.json
  packages/webpack-config-terra/tests/jest/postcss/ThemePlugin.test.js
  packages/webpack-config-terra/webpack.config.js
Labels: :package: webpack-config-terra

#497 [terra-functional-testing] Support Webpack 5
  README.md
  packages/terra-functional-testing/package.json
Labels: :package: terra-functional-testing

#498 [terra-functional-testing] Restructure utility functions
  packages/terra-functional-testing/src/commands/utils/describeViewports.js
  packages/terra-functional-testing/src/commands/utils/getViewports.js
  packages/terra-functional-testing/src/commands/utils/hideInputCaret.js
  packages/terra-functional-testing/src/commands/utils/index.js
  packages/terra-functional-testing/src/commands/utils/setViewport.js
  packages/terra-functional-testing/src/commands/viewport-helpers.js
  packages/terra-functional-testing/src/constants/index.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/getTerraFormFactor.js
  packages/terra-functional-testing/src/static-assets/viewports.js
  packages/terra-functional-testing/tests/jest/commands/utils/describeViewports.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/getViewports.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/hideInputCaret.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/setViewport.test.js
  packages/terra-functional-testing/tests/jest/commands/viewport-helpers.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service.test.js
Labels: :package: terra-functional-testing

#503 [webpack-config-terra] Add support for aggregate themes
  .gitignore
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/About.a.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/UpgradeGuide.y.tool.mdx
  packages/webpack-config-terra/.npmignore
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
  packages/webpack-config-terra/src/aggregate-themes/disclaimer.txt
  packages/webpack-config-terra/src/aggregate-themes/getThemeWebpackPromise.js
  packages/webpack-config-terra/src/aggregate-themes/theme-aggregator.js
  packages/webpack-config-terra/src/entry/core-js.js
  packages/webpack-config-terra/src/postcss/ThemePlugin.js
  packages/webpack-config-terra/src/postcss/_removeCssModulesPseudoClasses.js
  packages/webpack-config-terra/src/utils/_getThemeConfig.js
  packages/webpack-config-terra/src/webpack.config.js
  packages/webpack-config-terra/tests/jest/aggregate-themes/aggregate-themes.test.js
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/generatedThemes/scoped-terra-mock-dark-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-dark-theme/root-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-dark-theme/scoped-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-dark-theme/terra-mock-dark-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-light-theme/root-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-light-theme/scoped-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-rainbow-theme/terra-mock-rainbow-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-solar-theme/root-theme.scss
  packages/webpack-config-terra/tests/jest/aggregate-themes/fixtures/themes/terra-mock-solar-theme/terra-mock-solar-theme.scss
  packages/webpack-config-terra/tests/jest/webpack.config.test.js
  webpack.dev-site.config.js
Labels: :package: webpack-config-terra

#506 [webpack-config-terra] Add Postcss as a peer dependency.
  package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/UpgradeGuide.y.tool.mdx
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
Labels: :package: webpack-config-terra

#504 [stylelint-config-terra] Migrate stylelint-config-terra to terra-toolkit.
  CONTRIBUTORS.md
  package.json
  packages/duplicate-package-checker-webpack-plugin/CHANGELOG.md
  packages/duplicate-package-checker-webpack-plugin/package.json
  packages/stylelint-config-terra/.npmrc
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/LICENSE
  packages/stylelint-config-terra/NOTICE
  packages/stylelint-config-terra/README.md
  packages/stylelint-config-terra/package.json
  packages/stylelint-config-terra/src/rules/custom-property-name/README.md
  packages/stylelint-config-terra/src/rules/custom-property-name/custom-property-name.js
  packages/stylelint-config-terra/src/rules/custom-property-namespace/README.md
  packages/stylelint-config-terra/src/rules/custom-property-namespace/custom-property-namespace.js
  packages/stylelint-config-terra/src/rules/custom-property-no-duplicate-declaration/README.md
  packages/stylelint-config-terra/src/rules/custom-property-no-duplicate-declaration/custom-property-no-duplicate-declaration.js
  packages/stylelint-config-terra/src/rules/custom-property-pattern/README.md
  packages/stylelint-config-terra/src/rules/custom-property-pattern/custom-property-pattern.js
  packages/stylelint-config-terra/src/rules/custom-property-pseudo-selectors/README.md
  packages/stylelint-config-terra/src/rules/custom-property-pseudo-selectors/custom-property-pseudo-selectors.js
  packages/stylelint-config-terra/stylelint.config.js
  packages/stylelint-config-terra/tests/jest/custom-property-name/__snapshots__/custom-property-name.test.js.snap
  packages/stylelint-config-terra/tests/jest/custom-property-name/custom-property-name.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-namespace/__snapshots__/custom-property-namespace.test.js.snap
  packages/stylelint-config-terra/tests/jest/custom-property-namespace/custom-property-namespace.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-namespace/fail.css
  packages/stylelint-config-terra/tests/jest/custom-property-namespace/pass.css
  packages/stylelint-config-terra/tests/jest/custom-property-no-duplicate-declaration/__snapshots__/custom-property-no-duplicate-declaration.test.js.snap
  packages/stylelint-config-terra/tests/jest/custom-property-no-duplicate-declaration/custom-property-no-duplicate-declaration.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-pattern/__snapshots__/custom-property-pattern.test.js.snap
  packages/stylelint-config-terra/tests/jest/custom-property-pattern/custom-property-pattern.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-pseudo-selectors/__snapshots__/custom-properety-pseudo-selectors.test.js.snap
  packages/stylelint-config-terra/tests/jest/custom-property-pseudo-selectors/custom-properety-pseudo-selectors.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/About.a.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/ChangeLog.z.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/CustomRules/custom-property-name.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/CustomRules/custom-property-namespace.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/CustomRules/custom-property-no-duplicate-declaration.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/CustomRules/custom-property-pattern.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/CustomRules/custom-property-pseudo-selectors.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/UpgradeGuide.y.tool.mdx
Labels: :package: stylelint-config-terra

#507 [stylelint-config-terra] whoops, don't try to release until we're ready
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/package.json
Labels: :package: stylelint-config-terra

#505 [terra-functional-testing] Add themes locales and form factor options to the test runner
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/index.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
Labels: :package: terra-functional-testing

#511 [browserslist-config-terra] Add additional upgrade guide documentation
  packages/browserslist-config-terra/CHANGELOG.md
  packages/browserslist-config-terra/README.md
  packages/browserslist-config-terra/UpgradeGuide.md
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/browserslist-config-terra/UpgradeGuide.tool.mdx
Labels: :package: browserslist-config-terra

#512 [terra-toolkit-docs]Transfer docs from terra-cli to terra-toolkit-docs
  packages/terra-cli/CHANGELOG.md
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-cli/About.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-cli/Logger.tool.mdx
Labels: :package: terra-cli, :package: terra-toolkit-docs
