Repository cerner/terra-toolkit, pull requests merged in 2020-05, with the labels that each got.

#402 Browserslist and eslint config addition
  .travis.yml
  browserslist-config-terra.js
  package.json
  packages/.keep
  packages/browserslist-config-terra/.npmignore
  packages/browserslist-config-terra/.npmrc
  packages/browserslist-config-terra/CHANGELOG.md
  packages/browserslist-config-terra/LICENSE
  packages/browserslist-config-terra/NOTICE
  packages/browserslist-config-terra/README.md
  packages/browserslist-config-terra/UpgradeGuide.md
  packages/browserslist-config-terra/browserslist.config.js
  packages/browserslist-config-terra/package.json
  packages/eslint-config-terra/.npmignore
  packages/eslint-config-terra/.npmrc
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/LICENSE
  packages/eslint-config-terra/NOTICE
  packages/eslint-config-terra/README.md
  packages/eslint-config-terra/UpgradeGuide.md
  packages/eslint-config-terra/eslint.config.js
  packages/eslint-config-terra/package.json
  scripts/changelog-updater/index.js
  wdio.conf.js
Labels: Major Version Bump, eslint-config-terra

#407 Update README to remove legacy terra-toolkit documentation
  README.md
Labels: docs

#406 [terra-functional-testing] Setup Initial WDIO 6 Test Runner
  .gitignore
  .travis.yml
  babel.config.js
  browserslist-config-terra.js
  jest.config.js
  package.json
  packages/terra-functional-testing/bin/test-runner.js
  packages/terra-functional-testing/cerner-terra-functional-testing-0.0.0.tgz
  packages/terra-functional-testing/lib/cli/index.js
  packages/terra-functional-testing/lib/cli/test-runner-cli.js
  packages/terra-functional-testing/lib/config/wdio.conf.js
  packages/terra-functional-testing/lib/test-runner/index.js
  packages/terra-functional-testing/lib/test-runner/test-runner.js
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/tests/jest/cli/index.test.js
  packages/terra-functional-testing/tests/jest/cli/test-runner-cli.test.js
  packages/terra-functional-testing/tests/jest/config/wdio.conf.test.js
  packages/terra-functional-testing/tests/jest/test-runner/index.test.js
  packages/terra-functional-testing/tests/jest/test-runner/test-runner.test.js
  packages/terra-functional-testing/tests/wdio/basic-spec.js
Labels: wdio, webdriver.io
