Repository cerner/terra-toolkit, pull requests merged in 2020-11, with the labels that each got.

#438 [terra-functional-testing] Adds viewport commands
  packages/terra-functional-testing/src/commands/axe/run.js
  packages/terra-functional-testing/src/commands/hide-input-caret.js
  packages/terra-functional-testing/src/commands/viewport-helpers.js
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/static-assets/viewports.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services/TerraService.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
  packages/terra-functional-testing/src/test-runner/test-runner.js
  packages/terra-functional-testing/tests/jest/commands/hide-input-caret.test.js
  packages/terra-functional-testing/tests/jest/commands/viewport-helpers.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service.test.js
  packages/terra-functional-testing/tests/jest/test-runner/test-runner.test.js
  packages/terra-functional-testing/tests/wdio/viewport-helpers-spec.js
  scripts/release/gitTagMonoRepo.js
Labels: :package: terra-functional-testing

#458 [terra-functional-testing] Pull Forward the VR Naming Configuration Part 1
  jest.config.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/VisualRegressionLauncher.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/BaseCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/SaveScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/getTerraFormFactor.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/mapViewports.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/BaseCompare.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/modules/getTerraFormFactor.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/methods/LocalCompare.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/methods/SaveScreenshot.test.js
Labels: :package: terra-functional-testing

#459 [terra-functional-testing] Pull Forward the VR Naming Configuration Part 2
  jest.config.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/BaseCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services/VisualRegressionService.tool.mdx
  packages/terra-functional-testing/tests/fixtures/misMatchTolerance/within-diff-dimensions.png
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/LocalCompare.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/methods/LocalCompare.test.js
Labels: :package: terra-functional-testing

#466 [terra-functional-testing] Remove axe option from the Terra Service
  packages/terra-functional-testing/src/commands/axe/run.js
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services/TerraService.tool.mdx
  packages/terra-functional-testing/tests/jest/commands/axe/run.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service.test.js
Labels: :package: terra-functional-testing

#465 [terra-functional-testing] Inline Documentation in VR Service
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/getUserAgent.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/pageHeight.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/scroll.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/scrollbars.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/triggerResize.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/virtualScroll.js
Labels: :package: terra-functional-testing

#456 [terra-functional-testing] Add Accessibility Reporter
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/commands/expect/toBeAccessible.js
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/reporters/wdio-accessibility-reporter.js
  packages/terra-functional-testing/tests/fixtures/reporters/test-data-1.json
  packages/terra-functional-testing/tests/jest/reporters/wdio-accessibility-reporter.test.js
Labels: :package: terra-functional-testing

#472 [terra-functional-testing] Revert docker selenium to 3.14.0-helium
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services/SeleniumDockerService.tool.mdx
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
Labels: :package: terra-functional-testing

#474 [terra-funtional-testing] remove saveDocumentScreenshot and saveViewportScreenshot
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/VisualRegressionLauncher.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/commands/saveDocumentScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/commands/saveElementScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/commands/saveViewportScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/index.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/afterScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/beforeScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeDocumentScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeElementScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeViewportScreenshot.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services/VisualRegressionService.tool.mdx
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/VisualRegressionLauncher.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/commands/saveElementScreenshot.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/index.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/commands/saveDocumentScreenshot.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/commands/saveElementScreenshot.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/commands/saveViewportScreenshot.test.js
Labels: :package: terra-functional-testing

#483 Update eslint.config.js
  CONTRIBUTORS.md
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/eslint.config.js
Labels: :package: eslint-config-terra

#486 [terra-functional-testing] Update the vr service to use the cli logger
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/src/terra-dev-site/Logger.tool.mdx
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/commands/hide-input-caret.js
  packages/terra-functional-testing/src/commands/viewport-helpers.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/SaveScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/afterScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/beforeScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeAreaScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeElementScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/ScreenshotStrategyManager.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/image/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/src/terra-cli/express-server/ExpressServer.js
  packages/terra-open-source-scripts/src/terra-cli/prepare-for-release/prepareForReleaseMonoRepoHandler.js
  packages/terra-open-source-scripts/src/terra-cli/release/releaseMonoRepoHandler.js
  packages/terra-open-source-scripts/src/terra-cli/release/releaseRepoHandler.js
Labels: :package: terra-functional-testing

#489 Update webpack-config-terra dependencies
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/About.a.tool.mdx
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
  packages/webpack-config-terra/webpack.config.js
  webpack.dev-site.config.js
Labels: :package: webpack-config-terra
