Repository cerner/terra-toolkit, pull requests merged in 2021-01, with the labels that each got.

#510 [terra-functional-testing] Add additional options to the test runner cli
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
Labels: :package: terra-functional-testing

#513 Update node version to erbium
  .nvmrc
  app.json
  package.json
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/package.json
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/package.json
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/package.json
  packages/terra-functional-testing/package.json
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
Labels: :package: eslint-config-terra, :package: stylelint-config-terra, :package: terra-cli, :package: terra-functional-testing, :package: terra-toolkit-docs, :package: webpack-config-terra, 📦 terra-open-source-scripts

#515 [terra-functional-testing] Add browsers and grid url options to the test runner cli
  packages/terra-functional-testing/src/config/capabilities.js
  packages/terra-functional-testing/src/config/utils/getCapabilities.js
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
  packages/terra-functional-testing/tests/jest/config/capabilities.test.js
  packages/terra-functional-testing/tests/jest/config/utils/getCapabilities.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
Labels: :package: terra-functional-testing

#508 [terra-functional-testing] Wait for docker stack deployment is ready.
  package.json
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
Labels: :package: terra-functional-testing

#518 [terra-functional-testing] Add name property to getViewports
  packages/terra-functional-testing/src/commands/utils/getViewports.js
  packages/terra-functional-testing/tests/jest/commands/utils/getViewports.test.js
Labels: :package: terra-functional-testing

#544 [terra-functional-testing] Add documentation for environment variables
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
Labels: :package: terra-functional-testing

#542 Add a console.logged message that describes the upcoming release for use in notification channels
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/package.json
  packages/terra-open-source-scripts/src/terra-cli/prepare-for-release/logReleasingPackages.js
  packages/terra-open-source-scripts/src/terra-cli/prepare-for-release/prepareForReleaseMonoRepoHandler.js
  packages/terra-open-source-scripts/src/terra-cli/prepare-for-release/prepareForReleaseRepoHandler.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/prepare-for-release/logReleasingPackages.test.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/prepare-for-release/prepareForReleaseMonoRepoHandler.test.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/prepare-for-release/prepareForReleaseRepoHandler.test.js
Labels: 📦 terra-open-source-scripts

#548 Add $ to globals
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/eslint.config.js
  packages/terra-functional-testing/tests/wdio/dispatch-custom-event-spec.js
Labels: :package: eslint-config-terra

#549 [terra-aggregate-translations] Migrate terra-aggregate-translations
  lerna.json
  package.json
  packages/terra-aggregate-translations/.npmignore
  packages/terra-aggregate-translations/.npmrc
  packages/terra-aggregate-translations/CHANGELOG.md
  packages/terra-aggregate-translations/LICENSE
  packages/terra-aggregate-translations/NOTICE
  packages/terra-aggregate-translations/README.md
  packages/terra-aggregate-translations/UpgradeGuide.md
  packages/terra-aggregate-translations/package.json
  packages/terra-aggregate-translations/src/aggregate-messages.js
  packages/terra-aggregate-translations/src/aggregate-translations.js
  packages/terra-aggregate-translations/src/config/defaultSearchPatterns.js
  packages/terra-aggregate-translations/src/config/i18nSupportedLocales.js
  packages/terra-aggregate-translations/src/generate-translation-file.js
  packages/terra-aggregate-translations/src/write-aggregated-translations.js
  packages/terra-aggregate-translations/src/write-i18n-loaders.js
  packages/terra-aggregate-translations/tests/jest/__snapshots__/generate-translation-file.test.js.snap
  packages/terra-aggregate-translations/tests/jest/__snapshots__/write-i18n-loaders.test.js.snap
  packages/terra-aggregate-translations/tests/jest/aggregate-messages.test.js
  packages/terra-aggregate-translations/tests/jest/aggregate-translations-react-intl-v5.test.js
  packages/terra-aggregate-translations/tests/jest/aggregate-translations.test.js
  packages/terra-aggregate-translations/tests/jest/fixtures/ned_modules/fixtures1/translations/en-US.json
  packages/terra-aggregate-translations/tests/jest/fixtures/ned_modules/fixtures1/translations/en.json
  packages/terra-aggregate-translations/tests/jest/fixtures/ned_modules/fixtures1/translations/es.json
  packages/terra-aggregate-translations/tests/jest/fixtures/translations/en-US.json
  packages/terra-aggregate-translations/tests/jest/fixtures/translations/en.json
  packages/terra-aggregate-translations/tests/jest/fixtures/translations/es.json
  packages/terra-aggregate-translations/tests/jest/generate-translation-file.test.js
  packages/terra-aggregate-translations/tests/jest/write-aggregated-translations.test.js
  packages/terra-aggregate-translations/tests/jest/write-i18n-loaders.test.js
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
  packages/webpack-config-terra/src/webpack.config.js
  packages/webpack-config-terra/tests/jest/webpack.config.test.js
Labels: Major Version Bump

#536 Added browser to mainFields
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/src/webpack.config.js
Labels: :package: webpack-config-terra

#535 [terra-functional-testing] Add custom spec reporter
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/reporters/accessibility-reporter/index.js
  packages/terra-functional-testing/src/reporters/accessibility-reporter/wdio-accessibility-reporter.js
  packages/terra-functional-testing/src/reporters/spec-reporter/clean-results.js
  packages/terra-functional-testing/src/reporters/spec-reporter/get-output-dir.js
  packages/terra-functional-testing/src/reporters/spec-reporter/index.js
  packages/terra-functional-testing/src/reporters/spec-reporter/merge-results.js
  packages/terra-functional-testing/src/reporters/spec-reporter/wdio-spec-reporter.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-reporters/SpecReporter.tool.mdx
  packages/terra-functional-testing/tests/fixtures/reporters/results-chrome-terra-functional-testing.json
  packages/terra-functional-testing/tests/fixtures/reporters/wdio-spec-results-0-0.json
  packages/terra-functional-testing/tests/fixtures/reporters/wdio-spec-results-0-1.json
  packages/terra-functional-testing/tests/fixtures/reporters/wdio-spec-results-0-2.json
  packages/terra-functional-testing/tests/jest/reporters/accessibility-reporter/index.test.js
  packages/terra-functional-testing/tests/jest/reporters/accessibility-reporter/wdio-accessibility-reporter.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/__snapshots__/wdio-spec-reporter.test.js.snap
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/clean-results.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/get-output-dir.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/index.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/mergeResults.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/wdio-spec-reporter.test.js
Labels: :package: terra-functional-testing
