Repository cerner/terra-toolkit, pull requests merged in 2021-08, with the labels that each got.

#690 [webpack-config-terra] Remove polyfills and instead rely on the polyfill package.
  blankEntry.js
  package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/upgrade-guide.6/Version 1.z.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/upgrade-guide.6/Version 2.y.tool.mdx
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
  packages/webpack-config-terra/src/entry/core-js.js
  packages/webpack-config-terra/src/webpack.config.js
  packages/webpack-config-terra/tests/jest/webpack.config.test.js
  webpack.dev-site.config.js
Labels: Major Version Bump, :package: webpack-config-terra

#692 Release August 13, 2021
  dangerfile.js
  lerna.json
  packages/package-json-lint-config-terra/CHANGELOG.md
  packages/package-json-lint-config-terra/package.json
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/package.json
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
Labels: Major Version Bump, :package: webpack-config-terra, :package: terra-cli, :package: terra-toolkit-docs

#691 [terra-functional-testing] Add parameters for locating selenium service
  CONTRIBUTORS.md
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/config/utils/getConfigurationOptions.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
Labels: :package: terra-functional-testing

#700 [package-json-lint] Add a flag to mark a project as application, module, or devModule.
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/src/lint.js
  packages/package-json-lint/src/rules/require-no-terra-base-peer-dependency-versions.js
  packages/package-json-lint/src/rules/require-theme-context-versions.js
  packages/package-json-lint/src/rules/requireVersionSet.js
  packages/package-json-lint/tests/jest/lint.test.js
  packages/package-json-lint/tests/jest/rules/__snapshots__/require-no-terra-base-peer-dependency-versions.test.js.snap
  packages/package-json-lint/tests/jest/rules/__snapshots__/require-theme-context-versions.test.js.snap
  packages/package-json-lint/tests/jest/rules/require-no-terra-base-peer-dependency-versions.test.js
  packages/package-json-lint/tests/jest/rules/require-theme-context-versions.test.js
Labels: Feature
