Repository cerner/terra-toolkit, pull requests merged in 2021-05, with the labels that each got.

#646 [terra-functional-testing] Add useSeleniumStandalonService option
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/config/utils/getConfigurationOptions.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/tests/jest/config/utils/getConfigurationOptions.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
Labels: :package: terra-functional-testing, do not merge

#649 [terra-functional-testing] Update node-resemble-js version to fix `Stream not writable` error.
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/LocalCompare.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/helper/compareImages.js
Labels: :package: terra-functional-testing

#648 [terra-toolkit-docs] Update terra-functional-testing upgrade guide
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/terra-cli/express-server/expressServerHandler.js
  packages/terra-functional-testing/src/terra-cli/express-server/index.js
  packages/terra-functional-testing/tests/jest/terra-cli/express-server/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/express-server/expressServerHandler.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/express-server/index.test.js
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/README.md
  packages/terra-open-source-scripts/src/terra-cli/express-server/ExpressServer.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/express-server/ExpressServer.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/upgrade-guides.5/version-1-upgrade-guide.1.tool.md
Labels: :package: terra-toolkit-docs

#645 Added jest reporter from boneyard
  packages/jest-config-terra/CHANGELOG.md
  packages/jest-config-terra/jest.config.js
  packages/jest-config-terra/package.json
  packages/jest-config-terra/src/reporters/verbose-reporter/TerraVerboseReporter.js
  packages/jest-config-terra/tests/jest/TerraVerboseReporter.test.js
Labels: :package: jest-config-terra

#654 [terra-functional-testing] Remove lodash isArray dependency
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/commands/axe/inject.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/commands/saveElementScreenshot.js
  packages/terra-functional-testing/tests/jest/config/wdio.conf.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/clean-results.test.js
Labels: :package: terra-functional-testing

#658 [terra-functional-testing] Add configuration to retrieve and unzip screenshots from registry
  dangerfile.js
  packages/terra-enzyme-intl/CHANGELOG.md
  packages/terra-enzyme-intl/tests/jest/__snapshots__/enzyme-intl.test.jsx.snap
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/commands/utils/cleanScreenshots.js
  packages/terra-functional-testing/src/commands/utils/downloadScreenshots.js
  packages/terra-functional-testing/src/commands/utils/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/tests/jest/commands/utils/downloadScreenshots.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/index.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/mock-wdio.config.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
Labels: :package: terra-functional-testing

#619 Create rule for minimum versions for the package.json linter
  .packagejsonlintignore
  jest.config.js
  package.json
  packages/package-json-lint/package.json
  packages/package-json-lint/src/config/index.js
  packages/package-json-lint/src/issues/AggregateIssues.js
  packages/package-json-lint/src/issues/PackageIssues.js
  packages/package-json-lint/src/lint.js
  packages/package-json-lint/src/project-structure/index.js
  packages/package-json-lint/src/rules/index.js
  packages/package-json-lint/src/rules/require-no-terra-base-peer-dependency-versions.js
  packages/package-json-lint/src/rules/require-theme-context-versions.js
  packages/package-json-lint/src/rules/requireVersionSet.js
  packages/package-json-lint/tests/jest/__snapshots__/lint.test.js.snap
  packages/package-json-lint/tests/jest/lint.test.js
  packages/package-json-lint/tests/jest/project-structure/__snapshots__/index.test.js.snap
  packages/package-json-lint/tests/jest/project-structure/index.test.js
  packages/package-json-lint/tests/jest/rules/__snapshots__/require-no-terra-base-peer-dependency-versions.test.js.snap
  packages/package-json-lint/tests/jest/rules/__snapshots__/require-theme-context-versions.test.js.snap
  packages/package-json-lint/tests/jest/rules/require-no-terra-base-peer-dependency-versions.test.js
  packages/package-json-lint/tests/jest/rules/require-theme-context-versions.test.js
Labels: :package: package-json-lint
