Repository cerner/terra-toolkit, pull requests merged in 2021-06, with the labels that each got.

#665 [terra-functional-testing] Added FileOutputReporter reporter
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/reporters/file-output-reporter/index.js
  packages/terra-functional-testing/tests/jest/reporters/file-output-reporter/index.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-reporters.3/FileOutputReporter.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-reporters.3/fileOutput-reporter-sample-result.json
Labels: :package: terra-functional-testing

#670 [terra-functional-testing] Ensure nested non-reference snapshot directories are cleaned
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/utils/cleanScreenshots.js
  packages/terra-functional-testing/tests/jest/commands/utils/cleanScreenshots.test.js
Labels: :package: terra-functional-testing, bug-fix

#673 [terra-functional-testing] Set test page to the viewport size instead of the browser's window size
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/utils/describeViewports.js
  packages/terra-functional-testing/src/commands/utils/getViewportSize.js
  packages/terra-functional-testing/src/commands/utils/index.js
  packages/terra-functional-testing/src/commands/utils/setViewport.js
  packages/terra-functional-testing/src/commands/utils/setViewportSize.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/getTerraFormFactor.js
  packages/terra-functional-testing/tests/jest/commands/utils/getViewportSize.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/index.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/setViewport.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/setViewportSize.test.js
Labels: :package: terra-functional-testing

#672 Add screenshot paths to the spec reporter.
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/utils/eventEmitter.js
  packages/terra-functional-testing/src/commands/utils/index.js
  packages/terra-functional-testing/src/reporters/spec-reporter/wdio-spec-reporter.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/SaveScreenshot.js
  packages/terra-functional-testing/tests/fixtures/reporters/test-data-1.json
  packages/terra-functional-testing/tests/jest/commands/utils/eventEmitter.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/index.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/__snapshots__/wdio-spec-reporter.test.js.snap
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/wdio-spec-reporter.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/LocalCompare.test.js
Labels: :package: terra-functional-testing

#677 [terra-toolkit-docs] Update dev-site to correctly generate urls for scoped packages.
  package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/upgrade-guides.5/version-1-upgrade-guide.1.tool.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/PostcssThemePlugin.b.tool.mdx
Labels: :package: terra-toolkit-docs

#678 Release June 23, 2021
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: :package: terra-toolkit-docs
