Repository cerner/terra-toolkit, pull requests merged in 2021-07, with the labels that each got.

#679 [terra-functional-testing] Improve selenium grid logging
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/webpack-server/webpack-server.js
  packages/terra-functional-testing/tests/jest/config/utils/getConfigurationOptions.test.js
  packages/terra-functional-testing/tests/jest/webpack-server/webpack-server.test.js
Labels: :package: terra-functional-testing

#674 [terra-functional-testing] Wdio7 Upgrade
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/commands/utils/describeViewports.js
  packages/terra-functional-testing/src/commands/utils/getViewportSize.js
  packages/terra-functional-testing/src/commands/utils/index.js
  packages/terra-functional-testing/src/commands/utils/setViewport.js
  packages/terra-functional-testing/src/commands/utils/setViewportSize.js
  packages/terra-functional-testing/src/constants/index.js
  packages/terra-functional-testing/src/reporters/accessibility-reporter/wdio-accessibility-reporter.js
  packages/terra-functional-testing/src/reporters/file-output-reporter/index.js
  packages/terra-functional-testing/src/reporters/spec-reporter/wdio-spec-reporter.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/getTerraFormFactor.js
  packages/terra-functional-testing/tests/jest/commands/utils/getViewportSize.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/index.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/setViewport.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/setViewportSize.test.js
  packages/terra-functional-testing/tests/jest/reporters/accessibility-reporter/wdio-accessibility-reporter.test.js
  packages/terra-functional-testing/tests/jest/reporters/file-output-reporter/index.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/wdio-spec-reporter.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/modules/getTerraFormFactor.test.js
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/validates-screenshot.png
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/upgrade-guides.5/version-2-upgrade-guide.2.tool.md
Labels: :package: terra-functional-testing, Major Version Bump, do not merge

#684 [terra-toolkit-docs] Mention the removal of node 10 support.
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/upgrade-guides.5/version-2-upgrade-guide.2.tool.md
Labels: :package: terra-toolkit-docs

#688 [terra-functional-testing] Run tests in all browsers provided by the `BROWSERS` env variable.
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/index.test.js
Labels: :package: terra-functional-testing

#685 [webpack-config-terra] Upgrade to sass (dart-sass)
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/ChangeLog.7.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/PostcssThemePlugin.2.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/terra-i18n.config.js.5.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/terra-theme.config.js.3.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/upgrade-guide.6/version-1-upgrade-guide.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/upgrade-guide.6/version-2-upgrade-guide.2.tool.mdx
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
Labels: :package: webpack-config-terra, Major Version Bump
