Repository cerner/terra-toolkit, pull requests merged in 2021-03, with the labels that each got.

#589 [terra-functional-testing] Pass theme as `defaultTheme` to webpack-config-terra
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/webpack-server/webpack-server.js
  packages/terra-functional-testing/tests/jest/webpack-server/webpack-server.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
Labels: :package: terra-functional-testing

#592 [terra-toolkit-docs] add missing link to webpack config terra doc
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/About.a.tool.mdx
Labels: :package: terra-toolkit-docs

#598 [terra-functional-testing] Fix selenium docker version service option
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
Labels: :package: terra-functional-testing, bug-fix

#600 [terra-functional-testing] Rename version service option to seleniumVersion
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/SeleniumDockerService.tool.mdx
Labels: :package: terra-functional-testing

#593 [terra-functional-testing] Filter tests by form factors, locales, themes
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/utils/describeTests.js
  packages/terra-functional-testing/src/commands/utils/index.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/tests/jest/commands/utils/describeTests.test.js
  packages/terra-functional-testing/tests/wdio/terra-describe-tests-spec.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
Labels: Story

#605 [terra-functional-testing] Invalid selector error message
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeElementScreenshot.js
  packages/terra-functional-testing/tests/wdio/terra-validates-spec.js
Labels: :package: terra-functional-testing, Story

#606 [jest-config-terra] Introducing Jest config terra
  jest.config.js
  jest.enzymeSetup.js
  lerna.json
  package.json
  packages/jest-config-terra/.npmrc
  packages/jest-config-terra/CHANGELOG.md
  packages/jest-config-terra/LICENSE
  packages/jest-config-terra/NOTICE
  packages/jest-config-terra/README.md
  packages/jest-config-terra/jest.config.js
  packages/jest-config-terra/package.json
  packages/jest-config-terra/src/JestEnvironmentJsdomTerra.js
  packages/jest-config-terra/src/jestBabelTransform.js
  packages/jest-config-terra/src/translationsMock.js
  packages/jest-config-terra/tests/jest/JestEnvironmentJsdomTerra.test.js
  packages/jest-config-terra/tests/jest/jestBabelTransform.test.js
  packages/jest-config-terra/tests/jest/translationsMock.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/terra-toolkit-docs/src/terra-dev-site/tool/eslint-config-terra/ChangeLog.z.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/jest-config-terra/About.a.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/jest-config-terra/ChangeLog.z.tool.mdx
Labels: :package: jest-config-terra

#607 [terra-functional-testing] Visual Regression: endX/endY out of range error.
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/SaveScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/afterScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/beforeScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeAreaScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeElementScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/ScreenshotStrategyManager.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/image/index.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/strategies/BaseStrategy.js
  packages/terra-functional-testing/tests/fixtures/element-out-of-bound.html
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/chrome_small/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_small/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_small/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_small/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_small/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_small/terra-validates-spec/out_of_bound_left_content.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_small/terra-validates-spec/out_of_bound_right_content.png
  packages/terra-functional-testing/tests/wdio/terra-validates-spec.js
  webpack.config.js
Labels: :package: terra-functional-testing, Story

#608 Release 03-23-2021
  lerna.json
  packages/jest-config-terra/CHANGELOG.md
  packages/jest-config-terra/package.json
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: :package: jest-config-terra, :package: terra-functional-testing, :package: terra-toolkit-docs

#609 [terra-functional-testing] Remove out-of-bound log message.
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/strategies/BaseStrategy.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/VisualRegressionService.tool.mdx
Labels: :package: terra-functional-testing, :package: terra-toolkit-docs

#610 [terra-functional-testing] Update documentation and default export
  packages/terra-enzyme-intl/CHANGELOG.md
  packages/terra-enzyme-intl/tests/jest/__snapshots__/enzyme-intl.test.jsx.snap
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/index.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/upgrade-guides.5/version-1-upgrade-guide.1.tool.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-reporters.3/SpecReporter.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/AssetServerService.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/SeleniumDockerService.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/TerraService.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/VisualRegressionService.tool.mdx
Labels: :package: terra-functional-testing

#613 [terra-functional-testing] Fixing package name on Jenkins
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/reporters/spec-reporter/wdio-spec-reporter.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/wdio-spec-reporter.test.js
Labels: :package: terra-functional-testing

#617 [terra-functional-testing] - Fixing error in merge-results
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/reporters/spec-reporter/merge-results.js
  packages/terra-functional-testing/tests/fixtures/reporters-scoped/results-chrome-terra-functional-testing.json
  packages/terra-functional-testing/tests/fixtures/reporters-scoped/test-data-1.json
  packages/terra-functional-testing/tests/fixtures/reporters-scoped/wdio-spec-results-0-0.json
  packages/terra-functional-testing/tests/fixtures/reporters-scoped/wdio-spec-results-0-1.json
  packages/terra-functional-testing/tests/fixtures/reporters-scoped/wdio-spec-results-0-2.json
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/mergeResults.test.js
Labels: :package: terra-functional-testing
