Repository cerner/terra-toolkit, pull requests merged in 2021-02, with the labels that each got.

#561 [terra-functional-testing] Add support for BROWSERS env string formats
  packages/terra-functional-testing/src/config/utils/getCapabilities.js
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/tests/jest/config/utils/getCapabilities.test.js
Labels: :package: terra-functional-testing

#564 [terra-functional-testing] Support finding the local ip address when connected to the vpn
  packages/terra-functional-testing/src/config/utils/getIpAddress.js
  packages/terra-functional-testing/src/config/wdio.conf.js
Labels: :package: terra-functional-testing

#563 [terra-functional-testing] Add warn API to axe rules
  packages/terra-functional-testing/src/commands/expect/toBeAccessible.js
  packages/terra-functional-testing/src/reporters/accessibility-reporter/wdio-accessibility-reporter.js
  packages/terra-functional-testing/tests/jest/commands/expect/__snapshots__/toBeAccessible.test.js.snap
  packages/terra-functional-testing/tests/jest/commands/expect/toBeAccessible.test.js
  packages/terra-functional-testing/tests/jest/reporters/accessibility-reporter/wdio-accessibility-reporter.test.js
Labels: :package: terra-functional-testing

#565 [eslint-config-terra] Fix missing peer dependency
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/package.json
Labels: :package: eslint-config-terra

#566 [terra-functional-testing] Fix object short hand usage in browser execute
  packages/terra-functional-testing/src/commands/axe/run.js
Labels: :package: terra-functional-testing

#568 [terra-functional-testing] auto update screenshots
  packages/terra-functional-testing/src/commands/axe/run.js
  packages/terra-functional-testing/src/commands/expect/toMatchReference.js
  packages/terra-functional-testing/src/commands/utils/dispatchCustomEvent.js
  packages/terra-functional-testing/src/commands/validates/element.js
  packages/terra-functional-testing/src/commands/validates/screenshot.js
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/VisualRegressionLauncher.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/commands/saveElementScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/BaseCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/afterScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/beforeScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeElementScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/pageHeight.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/scroll.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/scrollbars.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/scripts/virtualScroll.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/image/gm.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
  packages/terra-functional-testing/tests/jest/commands/expect/toMatchReference.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/BaseCompare.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/LocalCompare.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
Labels: :package: terra-functional-testing

#567 [eslint-config-terra] Update eslint to eslint 7
  package.json
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/LICENSE
  packages/eslint-config-terra/NOTICE
  packages/eslint-config-terra/README.md
  packages/eslint-config-terra/UpgradeGuide.md
  packages/eslint-config-terra/eslint.config.js
  packages/eslint-config-terra/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/terra-toolkit-docs/src/terra-dev-site/tool/eslint-config-terra/About.a.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/eslint-config-terra/ChangLog.z.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/eslint-config-terra/UpgradeGuide.y.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/stylelintConfigTerra/About.a.tool.mdx
Labels: :package: eslint-config-terra, Major Version Bump

#575 [terra-functional-testing] Default image tag in docker compose
  packages/terra-functional-testing/src/docker/docker-compose.yml
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
Labels: :package: terra-functional-testing

#576 Release February 16, 2021
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: :package: eslint-config-terra, :package: terra-toolkit-docs, Major Version Bump

#577 [terra-functional-testing] Update documentation and remove test* regex
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-testing/About.tool.mdx
Labels: :package: terra-functional-testing

#578 [terra-functional-testing] Increase connectionRetryTimeout and mocha timeouts
  packages/terra-functional-testing/src/config/wdio.conf.js
Labels: :package: terra-functional-testing

#581 Re-enabling terra-dev-site
  .travis.yml
  package.json
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/stylelint.config.js
  webpack.config.js
  webpack.dev-site.config.js
Labels: :package: stylelint-config-terra

#582 [terra-functional-testing] Convert docker service from docker swarm to docker-compose
  package.json
  packages/terra-enzyme-intl/CHANGELOG.md
  packages/terra-enzyme-intl/tests/jest/__snapshots__/enzyme-intl.test.jsx.snap
  packages/terra-functional-testing/src/docker/docker-compose.yml
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_large/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_small/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_small/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/en/firefox_small/terra-validates-spec/validates-screenshot.png
Labels: :package: terra-functional-testing

#574 [terra-functional-testing] Add Migration Guide
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/About.1.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/ChangeLog.2.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/upgrade-guides.5/version-1-upgrade-guide.1.tool.md
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-reporters.3/SpecReporter.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services.4/AssetServerService.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services.4/SeleniumDockerService.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services.4/TerraService.tool.mdx
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/wdio-services.4/VisualRegressionService.tool.mdx
Labels: :package: terra-functional-testing

#583 [terra-functional-testing] Remove ENVs to use CLI options
  package.json
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/index.js
  packages/terra-functional-testing/src/commands/validates/screenshot.js
  packages/terra-functional-testing/src/config/utils/getCapabilities.js
  packages/terra-functional-testing/src/config/utils/getConfigurationOptions.js
  packages/terra-functional-testing/src/config/wdio.conf.js
  packages/terra-functional-testing/src/services/wdio-asset-server-service.js
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/VisualRegressionLauncher.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/BaseCompare.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/LocalCompare.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/src/terra-dev-site/terra-functional-testing/About.1.tool.mdx
  packages/terra-functional-testing/tests/jest/config/utils/getCapabilities.test.js
  packages/terra-functional-testing/tests/jest/config/utils/getConfigurationOptions.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-asset-server-service.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/VisualRegressionLauncher.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/BaseCompare.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/LocalCompare.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_large/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_small/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_small/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/chrome_small/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_large/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_small/terra-validates-spec/validates-element-selector.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_small/terra-validates-spec/validates-element.png
  packages/terra-functional-testing/tests/wdio/__snapshots__/reference/terra-default-theme/fr/firefox_small/terra-validates-spec/validates-screenshot.png
  packages/terra-functional-testing/tests/wdio/viewport-helpers-spec.js
Labels: Story

#588 [terra-toolkit-docs] Add @cerner/terra-functional-testing to dependencies
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: :package: terra-toolkit-docs
