Repository cerner/terra-toolkit, pull requests merged in 2021-04, with the labels that each got.

#618 [terra-functional-testing] Error screenshots
  .gitignore
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/VisualRegressionLauncher.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/BaseCompare.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/VisualRegressionLauncher.test.js
Labels: :package: terra-functional-testing

#623 [terra-functional-testing] Honor terra-theme.config.js file
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/config/utils/getConfigurationOptions.js
  packages/terra-functional-testing/src/config/utils/getDefaultThemeName.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/webpack-server/webpack-server.js
  packages/terra-functional-testing/tests/jest/config/utils/getConfigurationOptions.test.js
  packages/terra-functional-testing/tests/jest/config/utils/getDefaultThemeName.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service.test.js
  packages/terra-functional-testing/tests/jest/webpack-server/webpack-server.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/About.a.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/webpackConfigTerra/PostcssThemePlugin.b.tool.mdx
Labels: :package: terra-functional-testing

#628 [terra-functional-testing] Clear Screenshots
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-functional-testing/src/commands/utils/cleanScreenshots.js
  packages/terra-functional-testing/src/commands/utils/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/tests/jest/commands/utils/cleanScreenshots.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/describeTests.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/describeViewports.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/dispatchCustomEvent.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/getViewports.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/hideInputCaret.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/index.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/setLocale.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/setViewport.test.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/test-runner.test.js
  packages/terra-functional-testing/tests/wdio/dispatch-custom-event-spec.js
  packages/terra-functional-testing/tests/wdio/terra-describe-tests-spec.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/upgrade-guides.5/version-1-upgrade-guide.1.tool.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/SeleniumDockerService.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/wdio-services.4/VisualRegressionService.tool.mdx
Labels: :package: terra-functional-testing

#640 [eslint-config-terra] Add `FullStack` to globals for usage in full stack testing
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/eslint.config.js
Labels: :package: eslint-config-terra

#641 Release April 23, 2021
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/eslint.config.js
  packages/eslint-config-terra/package.json
  packages/package-json-lint/package.json
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/package.json
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: :package: eslint-config-terra, :package: terra-cli, :package: terra-functional-testing, :package: terra-toolkit-docs, 📦 terra-open-source-scripts

#644 [terra-functional-testing] Updated specPath in BaseCompare.
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/methods/BaseCompare.js
  packages/terra-functional-testing/tests/jest/services/wdio-visual-regression-service/methods/BaseCompare.test.js
Labels: :package: terra-functional-testing, bug-fix
