Repository cerner/terra-toolkit, pull requests merged in 2022-05, with the labels that each got.

#741 Updates Breaking changes for terra-functional-testing
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/upgrade-guides.5/version-3-upgrade-guide.3.tool.md
Labels: Major Version Bump, :package: terra-functional-testing

#739 Drops React-Intl V3 and V4 support
  .travis.yml
  packages/terra-aggregate-translations/CHANGELOG.md
  packages/terra-aggregate-translations/UpgradeGuide.md
  packages/terra-aggregate-translations/package.json
  packages/terra-aggregate-translations/src/aggregate-translations.js
  packages/terra-aggregate-translations/src/generate-translation-file.js
  packages/terra-aggregate-translations/src/write-aggregated-translations.js
  packages/terra-aggregate-translations/tests/jest/__snapshots__/generate-translation-file.test.js.snap
  packages/terra-aggregate-translations/tests/jest/aggregate-translations.test.js
  packages/terra-aggregate-translations/tests/jest/generate-translation-file.test.js
Labels: Major Version Bump, :package: terra-aggregate-translations

#746 [terra-functional-testing] Add consumption guide
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/utils/ScreenshotRequestor.js
  packages/terra-functional-testing/src/config/utils/getRemoteScreenshotConfiguration.js
  packages/terra-functional-testing/src/services/wdio-terra-service.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/tests/jest/commands/utils/ScreenshotRequestor.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/__snapshots__/ScreenshotRequestor.test.js.snap
  packages/terra-functional-testing/tests/jest/config/utils/__snapshots__/getRemoteScreenshotConfiguration.test.js.snap
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
Labels: :package: terra-functional-testing
