Repository cerner/terra-toolkit, pull requests merged in 2023-08, with the labels that each got.

#809 Whitespace in path prevents docker compose
  packages/duplicate-package-checker-webpack-plugin/tests/jest/npm-2/index.test.js
  packages/duplicate-package-checker-webpack-plugin/tests/jest/simple/index.test.js
  packages/duplicate-package-checker-webpack-plugin/tests/jest/strict/index.test.js
  packages/jest-config-terra/src/reporters/verbose-reporter/TerraVerboseReporter.js
  packages/package-json-lint/src/config/index.js
  packages/package-json-lint/src/project-structure/index.js
  packages/package-json-lint/tests/jest/config/index.test.js
  packages/package-json-lint/tests/jest/project-structure/index.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-name/custom-property-name.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-namespace/custom-property-namespace.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-no-duplicate-declaration/custom-property-no-duplicate-declaration.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-pattern/custom-property-pattern.test.js
  packages/stylelint-config-terra/tests/jest/custom-property-pseudo-selectors/custom-properety-pseudo-selectors.test.js
  packages/terra-aggregate-translations/tests/jest/aggregate-translations-react-intl-v5.test.js
  packages/terra-aggregate-translations/tests/jest/aggregate-translations.test.js
  packages/terra-aggregate-translations/tests/jest/write-aggregated-translations.test.js
  packages/terra-aggregate-translations/tests/jest/write-i18n-loaders.test.js
  packages/terra-cli/index.js
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/utils/ScreenshotRequestor.js
  packages/terra-functional-testing/src/commands/utils/cleanScreenshots.js
  packages/terra-functional-testing/src/config/utils/getIpAddress.js
  packages/terra-functional-testing/src/reporters/file-output-reporter/index.js
  packages/terra-functional-testing/src/reporters/spec-reporter/wdio-spec-reporter.js
  packages/terra-functional-testing/src/services/wdio-selenium-docker-service.js
  packages/terra-functional-testing/src/services/wdio-terra-service/WDIOTerraService.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/modules/makeAreaScreenshot.js
  packages/terra-functional-testing/src/services/wdio-visual-regression-service/utils/image/gm.js
  packages/terra-functional-testing/src/webpack-server/webpack-server.js
  packages/terra-functional-testing/tests/jest/commands/utils/ScreenshotRequestor.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/cleanScreenshots.test.js
  packages/terra-functional-testing/tests/jest/reporters/spec-reporter/wdio-spec-reporter.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-selenium-docker-service.test.js
  packages/terra-functional-testing/tests/jest/webpack-server/webpack-server.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/utils/normalizeScreenshot.test.js
  packages/terra-functional-testing/tests/mocha/services/wdio-visual-regression-service/unit/utils/saveBase64Image.test.js
  packages/terra-open-source-scripts/src/terra-cli/prepare-for-release/prepareForReleaseMonoRepoHandler.js
  packages/terra-open-source-scripts/src/terra-cli/prepare-for-release/prepareForReleaseRepoHandler.js
  packages/terra-open-source-scripts/src/terra-cli/prepare-for-release/updateChangelogForPackage.js
  packages/terra-open-source-scripts/src/terra-cli/release/releaseRepoHandler.js
  packages/terra-open-source-scripts/src/utils/isMonoRepo.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/prepare-for-release/prepareForReleaseMonoRepoHandler.test.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/prepare-for-release/prepareForReleaseRepoHandler.test.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/release/releaseRepoHandler.test.js
  packages/terra-open-source-scripts/tests/jest/terra-cli/release/setupNPM.test.js
  packages/terra-open-source-scripts/tests/jest/utils/isMonoRepo.test.js
  packages/webpack-config-terra/src/aggregate-themes/getThemeWebpackPromise.js
  packages/webpack-config-terra/src/aggregate-themes/theme-aggregator.js
  packages/webpack-config-terra/src/webpack.config.js
Labels: bug-fix, :package: terra-functional-testing

#808 [terra-functional-testing] Nexus screenshot download URL logic and fixes
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/utils/ScreenshotRequestor.js
  packages/terra-functional-testing/src/services/wdio-terra-service/WDIOTerraService.js
  packages/terra-functional-testing/tests/jest/commands/utils/ScreenshotRequestor.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service/WDIOTerraService.test.js
Labels: :package: terra-functional-testing

#814 Upgrade to support NPMv9
  .npmrc
  package-lock.json
  package.json
  packages/duplicate-package-checker-webpack-plugin/package.json
  packages/eslint-config-terra/package.json
  packages/jest-config-terra/package.json
  packages/package-json-lint-config-terra/package.json
  packages/package-json-lint/package.json
  packages/stylelint-config-terra/package.json
  packages/terra-aggregate-translations/package.json
  packages/terra-cli/package.json
  packages/terra-enzyme-intl/package.json
  packages/terra-functional-testing/package.json
  packages/terra-open-source-scripts/package.json
  packages/terra-toolkit-docs/package.json
  packages/webpack-config-terra/package.json
Labels: no CHANGELOG update needed

#816 Updated dependencies for enzyme-intl
  packages/terra-enzyme-intl/.npmignore
  packages/terra-enzyme-intl/CHANGELOG.md
  packages/terra-enzyme-intl/package.json
Labels: :package: terra-enzyme-intl

#819 Release Aug 25
  packages/duplicate-package-checker-webpack-plugin/CHANGELOG.md
  packages/duplicate-package-checker-webpack-plugin/package.json
  packages/jest-config-terra/CHANGELOG.md
  packages/jest-config-terra/package.json
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/package.json
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/package.json
  packages/terra-aggregate-translations/CHANGELOG.md
  packages/terra-aggregate-translations/package.json
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/package.json
  packages/terra-enzyme-intl/CHANGELOG.md
  packages/terra-enzyme-intl/package.json
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
Labels: release

#822 [eslint-config-terra] Update dependencies
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/package.json
Labels: :package: eslint-config-terra

#823 Release Aug 30
  packages/browserslist-config-terra/CHANGELOG.md
  packages/browserslist-config-terra/package.json
  packages/duplicate-package-checker-webpack-plugin/CHANGELOG.md
  packages/duplicate-package-checker-webpack-plugin/package.json
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/package.json
  packages/jest-config-terra/CHANGELOG.md
  packages/jest-config-terra/package.json
  packages/package-json-lint-config-terra/CHANGELOG.md
  packages/package-json-lint-config-terra/package.json
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/package.json
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/package.json
  packages/terra-aggregate-translations/CHANGELOG.md
  packages/terra-aggregate-translations/package.json
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/package.json
  packages/terra-enzyme-intl/CHANGELOG.md
  packages/terra-enzyme-intl/package.json
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
Labels: release

#825 Release Aug 31
  packages/browserslist-config-terra/CHANGELOG.md
  packages/browserslist-config-terra/package.json
  packages/duplicate-package-checker-webpack-plugin/CHANGELOG.md
  packages/duplicate-package-checker-webpack-plugin/package.json
  packages/eslint-config-terra/CHANGELOG.md
  packages/eslint-config-terra/package.json
  packages/jest-config-terra/CHANGELOG.md
  packages/jest-config-terra/package.json
  packages/package-json-lint-config-terra/CHANGELOG.md
  packages/package-json-lint-config-terra/package.json
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/package.json
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/package.json
  packages/terra-aggregate-translations/CHANGELOG.md
  packages/terra-aggregate-translations/package.json
  packages/terra-cli/CHANGELOG.md
  packages/terra-cli/package.json
  packages/terra-enzyme-intl/CHANGELOG.md
  packages/terra-enzyme-intl/package.json
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-open-source-scripts/CHANGELOG.md
  packages/terra-open-source-scripts/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
  packages/webpack-config-terra/CHANGELOG.md
  packages/webpack-config-terra/package.json
Labels: release
