Repository cerner/terra-toolkit, pull requests merged in 2023-07, with the labels that each got.

#791 [terra-functional-testing] Add option to use HTTPS when gridUrl is provided
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/config/utils/getConfigurationOptions.js
  packages/terra-functional-testing/src/terra-cli/wdio/index.js
  packages/terra-functional-testing/src/terra-cli/wdio/test-runner.js
  packages/terra-functional-testing/src/webpack-server/webpack-server.js
  packages/terra-functional-testing/tests/jest/terra-cli/wdio/__snapshots__/index.test.js.snap
  packages/terra-functional-testing/tests/jest/webpack-server/webpack-server.test.js
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/terra-functional-testing/About.1.tool.mdx
Labels: :package: terra-functional-testing

#792 Release for July 10th, 2023
  packages/package-json-lint-config-terra/CHANGELOG.md
  packages/package-json-lint-config-terra/package.json
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/package.json
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: :package: terra-functional-testing, :package: terra-toolkit-docs, :package: package-json-lint, :package: package-json-lint-config-terra

#794 [terra-functional-testing] lock uuid to 7.0.3
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
Labels: :package: terra-functional-testing

#800 Release for July 12, 2023. 4.0.0 release for terra-functional-testing.
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: :package: terra-functional-testing, :package: terra-toolkit-docs

#801 [package-json-lint] Fix files being excluded from release
  packages/package-json-lint/.npmignore
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/package.json
Labels: :package: package-json-lint

#802 [package-json-lint] Adding upgrade guide for v2
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/package-json-lint/About.1.tool.mdx
  packages/terra-toolkit-docs/src/terra-dev-site/tool/package-json-lint/Rules.2.tool.mdx
Labels: :package: terra-toolkit-docs, :package: package-json-lint

#803 Release July 18, 2023
  packages/package-json-lint/CHANGELOG.md
  packages/package-json-lint/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: release

#807 Release July 21, 2023
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/package.json
Labels: release
