Repository cerner/terra-toolkit, pull requests merged in 2024-01, with the labels that each got.

#839 [terra-functional-testing] Fixing Nexus screenshot bugs
  packages/terra-functional-testing/CHANGELOG.md
  packages/terra-functional-testing/src/commands/expect/toMatchReference.js
  packages/terra-functional-testing/src/commands/utils/ScreenshotRequestor.js
  packages/terra-functional-testing/src/commands/validates/screenshot.js
  packages/terra-functional-testing/src/services/wdio-terra-service/WDIOTerraService.js
  packages/terra-functional-testing/tests/jest/commands/expect/toMatchReference.test.js
  packages/terra-functional-testing/tests/jest/commands/utils/ScreenshotRequestor.test.js
  packages/terra-functional-testing/tests/jest/services/wdio-terra-service/WDIOTerraService.test.js
Labels: :package: terra-functional-testing

#840 [package-json-lint-config-terra] upgraded to package-json-lint v2
  packages/package-json-lint-config-terra/CHANGELOG.md
  packages/package-json-lint-config-terra/package.json
  packages/terra-toolkit-docs/CHANGELOG.md
  packages/terra-toolkit-docs/src/terra-dev-site/tool/package-json-lint/About.1.tool.mdx
Labels: Major Version Bump, :package: package-json-lint-config-terra

#841 [stylelint-config-terra] removing extra dependencies
  packages/stylelint-config-terra/CHANGELOG.md
  packages/stylelint-config-terra/package.json
Labels: :package: stylelint-config-terra
